<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <link rel="stylesheet" href="/css/global.css">
  <script defer src="http://localhost:3000/socket.io/socket.io.js"></script>
  <script defer src="/js/index.js"></script>
</head>
<body>
  <main>
    <header>
      <h1>Partidas</h1>
      <div>
        <a href="/crear_partida">Crear partida</a>
        <a href="/crear_mapa">Crear mapa</a>
      </div>
    </header>
    <section class="games">
    </section>
  </main>
  <script>
    const rooms = [];

    class Partida{
      constructor(id, title, creador, usuarios,maxusuarios){
        this.id = id
        this.title = title
        this.creador = creador
        this.usuarios = usuarios
        this.maxusuarios = maxusuarios
      }

      draw(){
        return `
        <div>
          <h1>Partida ${this.title}</h1>
          <p>Creada por: <b>${this.creador}</b></p>
          <p>${this.usuarios}/${this.maxusuarios} usuarios</p>
          <a href="/jugar/${this.id}">Unirse</a>
        </div>
        `
      }
    }



    fetch('/getGames',{
      method: 'POST'
    })
    .then(r => r.json())
    .then(r =>{
      r.data.forEach((n,i) => {
        rooms.push(new Partida(n.id,n.title, n.creator,n.players,n.playersSize))
      });
      printRooms();
    })


    function printRooms(){
      let t = '';
      rooms.forEach(n => {
        t += n.draw()
      })
      document.querySelector('.games').innerHTML = t
    }
  </script>
</body>
</html>