<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <link rel="stylesheet" href="/css/global.css">
  <script defer src="http://localhost:3000/socket.io/socket.io.js"></script>
  <script defer src="/js/index.js"></script>
</head>
<body>
  <main>
    <header>
      <h1>Partidas</h1>
      <div>
        <a href="/crear_partida">Crear partida</a>
        <a href="/crear_mapa">Crear mapa</a>
      </div>
    </header>
    <section class="games">
    <% if (!locals.lol) { %>
      <div>
        <h1>Partida 1</h1>
        <p>Creada por: <b>Root</b></p>
        <p>1 usuario/s conectados</p>
        <a href="/jugar/1">Unirse</a>
      </div>
    <% }else{ %>
     <section>
       <h1>No hay partidas</h1>
     </section>
    <% } %> 
    </section>
  </main>
</body>
</html>